html, body, table, tr, td {
    margin: 0;
    padding: 0;
}

body {
    margin: 30px;
    background-color: #333;
    color: #999;
}

.control {
    border: 1px solid #555;
    background-color: #444;
    height: 90px;
    position: absolute;
    top: 20px; left: 20px; right: 20px;
    padding: 20px;
}

.dropzone {
    border: 2px dashed #aaa;
    float: left;
    width: 80%;
    height: 70px;
    padding: 10px;
    align: center;
    vertical-align: middle;
}
.hover {
    background-color: #555;
}

.configure {
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 80px;
}

.container {
    background-color: #444;
    border: 1px solid #555;
    position: absolute;
    left: 20px; right: 20px; bottom: 20px;
    top: 160px;
    padding: 20px;
    overflow: auto;
}

.container .row {
    margin: 3px;
    background-color: #555;
}

.container .column {
    position: relative;
    width: 32%;
    display: inline-block;
    margin: 3px;
}